$mainBlue: #1622e8;
$mainGreen: #9feed9;
$mainGrey: #f2f2f2;
$hiBlue: #cdefff;
$loBlue: #0c137f;
$darkBlue: #060940;
$hiGreen: #aaffeb;
$loGreen: #557f74;
$darkGreen: #2b403a;
$loGrey: #7f7f7f;
$darkGrey: #292929;

$break: 650px;
$max-width: 1024px;

@font-face {
    font-family: 'FixedSys';
    src: url(../../fixedsys.ttf);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

// general styles

body { 
    margin: 0;
    font-family: 'Century Gothic', sans-serif;
    color: $darkGrey;
    background-color: $hiBlue;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230c137f' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    // background image from http://www.heropatterns.com/
}

.container {
    margin: 1rem;
    position: relative;

    @media all and (min-width: $break) {
        padding: 1rem;
        max-width: $max-width;
        margin: 0 auto;
    }
}

.wrapper{
    padding: 1rem;
    
    @media all and (min-width: $break) {
        padding: 1rem;
        max-width: $max-width;
        margin: 0 auto;
    }
}
.box {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: $darkGrey 2px 2px 2px;
    padding: 1rem;
}

h1 {
    text-align: center;
    font-family: "FixedSys", "Lucida Console", "Courier", sans-serif;
    text-transform: uppercase;
    font-size: 36pt;
    font-weight: 100;
    color: $darkGrey;
}

h2 {
    font-size: 20pt;
    color: $loBlue;
}

h3 {
    font-size: 14pt;
    color: $loBlue;
    margin-top: 0;
}

h4 {
    color: $loBlue;
}

p {
    font-size: 12pt;
}

a {
    color: $darkGrey;
    font-weight: bold;
}

.mainPic,
.splashPic {
    width: 100%;
    margin-bottom: 10px;
}

.mainPic {

    @media all and (min-width: $break) {
        float: left;
        width: 300px;
        margin-right: 1rem;
    }
}

// styles for the nav

nav {
    
    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        
        li {
            list-style: none;
            width:20%;

            a {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                text-decoration: none;

                img {
                    width:30px;
                    padding-bottom: 5px;

                    @media all and (min-width: $break) {
                        width: auto;
                    }
                }
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .current {

            a {
                color: $mainBlue;
                text-decoration: underline overline;
            }
        }
    }
}

// styles for the countdown

#countdown {
    position: sticky;
    bottom: 0;
    margin: 0 auto;
    background-color: $darkGrey;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 24pt;
    font-family: "FixedSys", "Lucida Console", "Courier", sans-serif;
    color: $hiGreen;
}

// styles for the venue page

#lagoMap {
    width: 100%;
    height: 400px;
}

// styles for the couples and wedding party page

.player-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .player {
        width: 48%;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        //text-align: justify;

        img,
        h4,
        h5 {
            width: 50%;
            max-width: 150px;
            margin: 0 auto;
            text-align: center;
        }

        img {
            border: $darkGrey 1px solid;
            box-shadow: $darkGrey 2px 2px 2px;
            margin-bottom: 5px;
        }

        @media all and (min-width: $break) {
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }

}

// styles for the pictures page

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .gallery {
        width: 200px;
        height: 100%;
        margin-bottom: 1rem;
    }
}

#overlay {
    position: sticky;
    top: 0;
    left: 0;
    height: 0; // we make this 0 otherwise it shifts all of the content down when we un-hide the div with JS
    z-index: 1; // we do this so it will appear on top of all other content
    text-align: center;
    color: white;
    margin: 0 auto;

    .overlayContainer {
        height: 95vh;
        background-color: rgba(41, 41, 41, .8);

        #image {
            
            img {
                width: auto;
                max-width: 100%;
                max-height: 88vh;
                padding: 1rem;
    
                @media all and (min-width: $break) {
                    width: auto;
                    max-width: 100%;
                    max-height: 88vh;
                }
            }
        }
    }

    @media all and (min-width: $break) {
        margin: 0 auto;
    }
}

// styles for for the hotels page

.hotels {

    .hotel {
        margin-bottom: 1rem;

        img {
            width: 100%;
        }

        @media all and (min-width: $break) {
            width: 48%;
        }
    }

    @media all and (min-width: $break) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

// styles for anything that needs to be hidden

.hidden {
    visibility: hidden;
    opacity: 0;
}